.textgroups {
  background-color:#1e7145;
  color:white;
}
.works {
  background-color:#00a300;
  color:white;
}
.texts {
  background-color:#99b433;
  color:white;
}
.passages {
  background-color:#603cba;
  color:white;
}

.search {
  background-color: #da532c;
  color:white;
}

.notes {
  background-color:#c0392b;
  color:white;
}