/* Theming for bootstrap */
@import "bower_components/bootstrap/less/variables.less";
@import "less/variables.less";
@import "bower_components/bootstrap/less/mixins.less";
@import "bower_components/bootstrap/less/buttons.less";
@import "bower_components/bootstrap/less/list-group.less";
@import "bower_components/bootstrap/less/forms.less";


@import "less/helper.less";
@import "less/layout.less";
@import "less/tei.less";
@import "less/schemes.less";
@import "less/mobile.less";

.deactivated {
  overflow-y: hidden!important;
  overflow-x: hidden!important;
  width: 0!important;
  height:0!important;
  padding:0!important;
  margin:0!important;
  .animation!important;
}

.toggle {
  color:white;
  cursor:pointer;
  &:hover {
    color:white;
    text-decoration:none;
  }
  text-decoration:none;
}