<div class="passages" ng-class="{ 'deactivated': !layout.isSelected('passages') }">
  <p class="text-center">
    <a class="toggle" ng-click="layout.toggle('passages')"><span class="glyphicon glyphicon-th-list"></span></a>
  </p>
  <div class="browsing-div">
    <p class="text-center">
      <a class="btn btn-info" ng-click="first()" >
        <span class="glyphicon glyphicon glyphicon-ok"></span>
        Start reading
      </a>
    </p>
    <!--
    <p class="text-center">
      <a class="btn btn-info" ng-click="first()" >
        <span class="glyphicon glyphicon glyphicon-ok"></span>
        Start reading
      </a>
      <ul class="list-inline">
        <li ng-repeat="ref in refs">
          {{ref}}
          <ul class="list-inline">
            <li ng-repeat="(pretty, urn) in ref">{{pretty}} {{urn}}</li>
          </ul>
        </li>
      </ul>
    </p>-->
    <form class="form-horizontal" ng-submit="select()">
    <!-- Start -->
    <h5>Start of the passage</h5>
    <div class="form-group" ng-repeat="(value, key) in text.citations" >
      <label class="col-xs-6 control-label">{{key}}</label>
      <div class="col-xs-6">
        <input ng-model="text.start[value]" type="text" class="form-control" />
      </div>
    </div>
    <!-- End -->
    <h5>End of the passage</h5>
    <div class="form-group" ng-repeat="(value, key) in text.citations">
      <label class="col-xs-6 control-label">{{key}}</label>
      <div class="col-xs-6">
        <input ng-model="text.end[value]" type="text" class="form-control" />
      </div>
    </div>
    <button class="btn btn-default" type="submit">Retrieve</button>
    </form>
  </div>
</div>