<div class="passages col-md-3" ng-class="{ 'deactivated': !layout.isSelected('passages') }">
  <p class="text-center" ng-click="layout.select('passages')">
    <a><span class="glyphicon glyphicon-th-list"></span></a>
  </p>
  <div class="browsing-div">
    <!-- Start -->
    <h5>Start of the passage</h5>
    <div class="form-group" ng-repeat="(value, key) in text.citations">
      <label>{{key}}</label>
      <input ng-model="text.start[value]" type="text" class="form-control" />
    </div>
    <!-- End -->
    <h5>End of the passage</h5>
    <div class="form-group" ng-repeat="(value, key) in text.citations">
      <label>{{key}}</label>
      <input ng-model="text.end[value]" type="text" class="form-control" />
    </div>
    <button class="btn btn-default" ng-click="select()">Retrieve</button>
  </div>
</div>